/**
 * Minimize bookmarks' panel size and elements
 */

/* Accept only to UI */
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* bookmark's panel (bar) rules */
#PersonalToolbar,
#PersonalToolbar > #personal-bookmarks,
#PersonalToolbar > #personal-bookmarks > #PlacesToolbar,
#PersonalToolbar > #personal-bookmarks > #PlacesToolbar > #PlacesToolbarItems,
#PersonalToolbar > #personal-bookmarks > #PlacesToolbar > #PlacesToolbarItems > box,
#PersonalToolbar toolbarbutton,
#PersonalToolbar toolbarbutton > .toolbarbutton-icon,
#PersonalToolbar toolbarbutton > .toolbarbutton-multiline-text,
#PersonalToolbar toolbarbutton > .toolbarbutton-multiline-text *,
#PersonalToolbar toolbarbutton > .toolbarbutton-badge-stack,
#PersonalToolbar toolbarbutton > dropmarker,
#PersonalToolbar toolbarbutton > dropmarker > .dropmarker-icon
{
  margin : 0 !important;
  padding : 0 !important;
  border : none !important;
  min-height : 0px !important;
  min-width : 0px !important;
  box-shadow : none !important;
}

/* fix size when elemment draged (bug appears sometimes) */
#PersonalToolbar toolbarbutton,
#PersonalToolbar #PlacesToolbarDropIndicatorHolder
{
  min-height: 16px !important;
  height: 16px !important;
  max-height: 16px !important;
}

/* 1. bookmark padding for pretty */
#PersonalToolbar toolbarbutton.bookmark-item
{
  padding : 0 2px 0px 0px !important;
}

/* fix xubuntu bookmark dropmarkers */
#PersonalToolbar #personal-bookmarks #PlacesToolbar .bookmark-item > .toolbarbutton-menu-dropmarker
{
  display : none !important;
}
