#PlacesToolbarItems > toolbarbutton.bookmark-item > menupopup .bookmark-item {
  /* overflow: hidden !important; */
  
  height: 16px !important;
  min-height: 16px !important;
  max-height: 16px !important;
  
  font-size: 12px !important;
  line-height: 11px !important;
  
  display: block !important;
  margin-top: -3px !important; /* KDE v.5 fix */
  padding-bottom: 20px !important;
}

#PlacesToolbarItems menupopup {
  min-height: 20px !important; /* KDE v.5 fix */  
}

#PlacesToolbarItems > toolbarbutton.bookmark-item > menupopup .bookmark-item .menu-iconic-text {
  line-height: 11px !important;
  
  height: 16px !important;
  min-height: 16px !important;
  max-height: 16px !important;
  
  text-align: left !important;
  vertical-align: bottom !important;
  align-content: top !important;
  flex-wrap: wrap !important;
  display: block !important;
  
}

#PlacesToolbarItems > toolbarbutton.bookmark-item > menupopup .bookmark-item .menu-iconic-left .menu-iconic-icon {
  border: 0px solid black !important;
  
  text-align: left !important;
  vertical-align: bottom !important;
  align-content: top !important;
  flex-wrap: wrap !important;
  display: block !important;
}

#PlacesToolbarItems > toolbarbutton.bookmark-item > menupopup .bookmark-item .menu-iconic-left,
#PlacesToolbarItems > toolbarbutton.bookmark-item > menupopup .bookmark-item .menu-iconic-left .menu-iconic-icon {
    height: 16px !important;
  min-height: 16px !important;
  max-height: 16px !important;
  
  text-align: left !important;
  vertical-align: bottom !important;
  align-content: top !important;
  flex-wrap: wrap !important;
  display: block !important;
}
