/* should be included after tabbar-mini.css */
#main-window[sizemode="maximized"][uidensity="compact"] #navigator-toolbox > #TabsToolbar tab[notselectedsinceload="true"] * {
    text-decoration: underline !important;
}

#main-window[sizemode="maximized"][uidensity="compact"] #navigator-toolbox > #TabsToolbar tab[pending="true"] * {
    text-decoration: line-through !important;
}

#main-window[sizemode="maximized"][uidensity="compact"] #navigator-toolbox > #TabsToolbar tab[busy="true"] * {
    text-decoration: wavy underline !important;
}
