/* should be included after tabbar-mini.css */
#main-window[sizemode="maximized"][uidensity="compact"] #navigator-toolbox > #TabsToolbar tab .tab-content {
    background-color: white !important;
    color: black !important;
}

#main-window[sizemode="maximized"][uidensity="compact"] #navigator-toolbox > #TabsToolbar tab[selected="true"] .tab-content {
    background-color: black !important;
    color: white !important;
    font-weight: bold !important;
}

#main-window[sizemode="maximized"][uidensity="compact"] #navigator-toolbox > #TabsToolbar tab[multiselected="true"]:not([selected="true"]) .tab-content {
    background-color: #d2d2d2 !important;
}
