/* should be included after tabbar-mini.css */
#main-window[sizemode="maximized"][uidensity="compact"] #navigator-toolbox > #TabsToolbar tab * {
    background-color: white !important;
    color: black !important;
}

#main-window[sizemode="maximized"][uidensity="compact"] #navigator-toolbox > #TabsToolbar tab[selected="true"] * {
    background-color: black !important;
    color: white !important;
    font-weight: bold !important;
}