#urlbar {
    margin: 0 !important;
}

#urlbar-container .urlbar-page-action,
#urlbar-container .urlbar-page-action > .urlbar-icon {
    padding: 0 !important;
}

#urlbar .urlbar-input-box {
    font-size: 16px !important;
    font-family: Tahoma, Geneva, sans-serif !important;
}

#urlbar .urlbar-history-dropmarker,
#urlbar .urlbar-history-dropmarker .dropmarker-icon {
    padding: 0px !important;
}

/* ************************ */
/* fixes */
/* ************************ */

/* 1. fix urlbar vertical scroll */
.urlbar-input-box > * {
    margin-top: -2px !important;
    margin-bottom: -2px !important;
}

/* 2. fix urlbar history-dropmarker padding */
#urlbar .urlbar-history-dropmarker {
    padding-left: 4px !important;
}
