@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ############################################### */
/* Awesome bar, Seach box - Increase font size */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.urlbar-input-box,
.searchbar-textbox {
  font-size: 14.5px !important;
}

/* ############################################### */
/* Firefox Reload+Stop+Go Button */

/* fx - stop+reload+go button */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url("chrome://browser/content/browser.xul") {
#urlbar > toolbarbutton
  { /* fx defaults+overrides */
    -moz-appearance: none !important;
    padding: 0px 4px 0px 4px !important;
    background-origin: border-box !important;
    border: none !important;
    /* added stuff */
    margin: 0 0px 0 0 !important;
    background-color: #efefef !important;
    border-left: solid 1px rgba(30,40,50,0.30) !important; }
#urlbar-stop-button:hover { background-color: #ffd7d7 !important; }/*red*/
#urlbar-reload-button:not([disabled]):hover { background-color: #d7d7ff !important; }/*blue*/
#urlbar-go-button:hover { background-color: #d7ffd7 !important; }/*green*/ }

/* ############################################### */
/* Firefox Search Bar Show Engine Names (Firefox 43) */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/*
HELLO! This script has optional settings that you can try out if you return to its page: https://userstyles.org/styles/122214/firefox-search-bar-show-engine-names-firefox-43
*/
/* Make the one-off buttons span the full width */
.searchbar-engine-one-off-item[tooltiptext] {
  width: 100% !important;
  height: 24px !important;
  background-image: none !important;
  padding-left: 6px !important;
  box-sizing: content-box !important;
}
/* Hide the empties */
.searchbar-engine-one-off-item:not([tooltiptext]) {
  display: none !important;
}
/* Fix up borders */
.searchbar-engine-one-off-item[tooltiptext], .addengine-item {
  border-bottom: 1px solid #ccc !important;
}
.search-setting-button.search-panel-header, .addengine-item,
.search-panel-header.search-panel-current-input {
  border-top: none !important;
  max-height: 26px !important;
  min-height: 16px !important;
  padding-top: 1px !important;
}
/* Insert descriptive name for search engine plugin */
.searchbar-engine-one-off-item[tooltiptext]::after {
  content: attr(tooltiptext);
  margin: 12px 6px 0px !important;
  display: block !important;
}
/* Fix icon positioning */
.searchbar-engine-one-off-item[tooltiptext] > .button-box {
  display: inline-flex !important;
  width: 16px !important;
  max-width: 16px !important;
  border: none !important;
  padding: 0 0 !important;
}
.searchbar-engine-one-off-item[tooltiptext] > .button-box > .button-icon {
  display: block !important;
  margin-top: 4px !important;
  margin-left: -1px !important;
}
/* User style options */
/* Standard spacing (built-in above) */
.search-panel-header.search-panel-current-input {
  display: none !important;
}
/* Not hiding "Add ..." engine */
/* Not hiding "Change Search Settings" */
/* Search bar tooltip text only visible on mouseover */
/* Default hover/selection theming */
.searchbar-engine-one-off-item[tooltiptext]:hover,
.searchbar-engine-one-off-item[tooltiptext][selected] {
  color: HighlightText !important;
  background-color: Highlight;
}

/* ############################################### */
/* Hide Identity Box Labels */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* For hiding the identity box label */
#navigator-toolbox:not([customizing]) #identity-box:not(:hover) #identity-icon-labels {
  visibility: collapse !important;
  -moz-transition: visibility .1s !important;
}

/* For a brighter 3D appearance */
#navigator-toolbox:not([customizing]) #identity-box:not(:hover):not([open]) {
  background-image: -moz-linear-gradient(hsl(0,0%,95%) 30%, hsl(0,0%,80%)) !important;
}

#navigator-toolbox:not([customizing]) #identity-box.verifiedDomain:not(:hover):not([open]) {
  background-image: -moz-linear-gradient(hsl(215,75%,95%) 30%, hsl(215,65%,80%)) !important;
}

#navigator-toolbox:not([customizing]) #identity-box.verifiedIdentity:not(:hover):not([open]) {
  background-image: -moz-linear-gradient(hsl(90,70%,90%) 30%, hsl(95,50%,70%)) !important;
}

/* ############################################### */
/* Tree Style Tab tabs color active/(un)read/selected */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/*
  "!important"" need to fix work with "Tab Mix Plus" addon
*/

/* normal */
#tabbrowser-tabs tab.tabbrowser-tab .tab-text.tab-label
{
  color: black !important;
  font-weight: 900 !important;
  
  /*fix for "Tab Mix Plus" font */
  text-decoration: none !important;
  font-style: normal !important;
}
/* unread */
#tabbrowser-tabs tab.tabbrowser-tab[unread="true"] .tab-text.tab-label
{
  color: DarkRed !important;
}
/* selected */
#tabbrowser-tabs tab.tabbrowser-tab[selected="true"] .tab-text.tab-label
{
  color: black !important;
}
/* busy */
#tabbrowser-tabs tab.tabbrowser-tab[busy] .tab-text.tab-label
{
  color: #656600 !important;
}
/* selected & busy */
#tabbrowser-tabs tab.tabbrowser-tab[selected="true"][busy] .tab-text.tab-label
{
  color: black !important;
}
/* unload */
#tabbrowser-tabs tab.tabbrowser-tab[pending="true"] .tab-text.tab-label,
  /* compatibility with UnloadTab addon
     https://addons.mozilla.org/en-us/firefox/addon/unloadtab/
  */
  #tabbrowser-tabs tab.tabbrowser-tab[uT_tabUnload="true"] .tab-text.tab-label
{
  color: DarkBlue !important;
}